apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.metadata.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: {{ .Values.metadata.name }}
  ports:
    - port: 80
     # targetPort: 80
  type: {{ .Values.service.type }}
