replicaCount: 1
namespace: "dev"

metadata:
  name: "helm-app"
  image: ""

# Specify the service configuration
service:
  type: NodePort
# Specify resources (CPU and memory) limits for your application
resources:
  limits:
    cpu: 200m
    memory: 350Mi
  requests:
    cpu: 100m
    memory: 300Mi  

ingress:
  enabled: false
  annotations:
    kubernetes.io/ingress.class: nginx
## Autoscaling parameters
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPU: 50
  targetMemory: 50